<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container">
    <a class="navbar-brand" href="/">Sample EC Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Contact</a>
        </li>
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'product_new' %}" class="btn btn-default"><i class="fas fa-plus-square fa-2x fa-fw"></i></a>
        </li>
        <li>
          <a href="{% url 'product_draft_list' %}" class="btn btn-default"><i class="fas fa-edit fa-2x fa-fw"></i></a>
        </li>
        <li>
          <p class="top-menu">Hello {{ user.name }}<small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
        {% else %}
        <li class="nav-itme">
          <a href="{% url 'login' %}" class="top-menu"><i class="fas fa-lock fa-2x fa-fw"></i></a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
